.site-headr {
    position: fixed;
    width: 100%;
    top: 0px;
    lef: 0;
    z-index: 10;
    padding: 10px 0;
    background-image: linear-gradient(to right,$bg-F9 70%,$bg-FC 30% );


    .container {
        display: flex;
        align-items: center;
    }
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: inherit
}

.site-profile {
    margin-left: auto;
    display: flex;
    align-items: center;
    &__btn {
        border: none;
        outline: none;
        background: transparent;
        width: 24px;
        height: 24px;        
        margin-left: 32px;
        background-size: contain;
        cursor: pointer;
        
        &--bookmark {
            background-image: url(../images/icons/heart-dark.svg);
         
        }
        &--cart{
            background-image: url(../images/icons/cart.svg);

        }
        &--account
        {
            width: 40px;
            height: 40px;
            background-image: url(../images/icons/profile.svg);
            
        }
    }
}