.second-section__heading{
    text-align: center;
    // width: 260px;
    font-size: 4rem;
    margin-bottom: 3.2rem;
}

.products-list{
    display: flex;
    list-style: none;
    
    &__card{
        max-width: 28.5rem;
        width: 100%;
        padding-left: 1.6rem;
        padding-bottom: 3rem;
        background: #F4F5F7;

        img{
            max-width: 28.5rem;
            width: 100%;
            
        }
        h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            color: #3A3A3A;
            margin-top: 1.6rem;
            margin-bottom: 0.8rem;
        }

        .product-info{
            font-weight: 500;
            font-size: 1.6rem;
line-height: 150%;
color: #898989;
        }
        .real-price{
            display: inline-block;
            font-weight: 600;
font-size: 2rem;
line-height: 150%;
color: #3A3A3A;
margin-top: 0.8rem;
margin-right: 1.6rem;
        }

        .old-price{
            display: inline-block;
            font-size: 1.6rem;
line-height: 150%;
font-weight: 600;
text-decoration-line: line-through;
color: #B0B0B0;
        }
    }

}