.site-nav {
    &__list {
        margin-left: 4rem;
        list-style: none;
        display: flex;
    }

    &__item {
        margin-right: 4.4rem;
<<<<<<< HEAD
        &:not(:last-child){
                .site-nav__link{

                        &::after {
                            margin-left: 8px;
                            width: 2rem;
                            height: 2rem;
                            content: '';
                            display: inline-block;
                            background-image: url(../images/icons/chevron-down.svg);
                            
                        }
                }
        }
=======
       
>>>>>>> 2d2b2322437f59f45d8287d067d010139d1811f1

    }

    &__link {
        text-decoration: none;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #3A3A3A;
        display: flex;
        align-items: flex-end;
        
          

        
    }
}