.site-nav{
    &__list{
        margin-left: 4rem;
        list-style: none;
        display: flex;
    }
    &__item{
        margin-right: 4.4rem;
       
    }
    &__link{
        text-decoration: none;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color:#3A3A3A;
        display: flex;
        align-items: flex-end;
        &::after{
            width: 2rem;
            height: 2rem;
           content: '';
           display: inline-block;
           background-image: url(../images/icons/chevron-down.svg);
        }
    }
}