.btn{
    text-decoration: none;
    padding: 25px 140px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;  
    background-color: $color-primary;
    color: $color-white;
    
    &:hover{
        background-color:$color-white;
        border:1px solid $color-primary;
        color:$color-primary;
    }

}